<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DesktopLauncher.Properties.Settings>
            <setting name="HotKeyModifiers" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HotKeyCharacter" serializeAs="String">
                <value>D0</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="UriEntries" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Search by Bing|http://www.bing.com/search?q={1}</string>
                        <string>Search by Google|http://www.google.co.jp/search?q={1}</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="Aliases" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="LaunchAtLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="IsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtraExtentions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </DesktopLauncher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DesktopLauncher.Properties.Settings>
            <setting name="HotKeys" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>A</string>
                        <string>B</string>
                        <string>C</string>
                        <string>CapsLock</string>
                        <string>D</string>
                        <string>0</string>
                        <string>1</string>
                        <string>2</string>
                        <string>3</string>
                        <string>4</string>
                        <string>5</string>
                        <string>6</string>
                        <string>7</string>
                        <string>8</string>
                        <string>9</string>
                        <string>Delete</string>
                        <string>Down</string>
                        <string>E</string>
                        <string>End</string>
                        <string>F</string>
                        <string>F1</string>
                        <string>F10</string>
                        <string>F11</string>
                        <string>F12</string>
                        <string>F13</string>
                        <string>F14</string>
                        <string>F15</string>
                        <string>F2</string>
                        <string>F3</string>
                        <string>F4</string>
                        <string>F5</string>
                        <string>F6</string>
                        <string>F7</string>
                        <string>F8</string>
                        <string>F9</string>
                        <string>G</string>
                        <string>H</string>
                        <string>Home</string>
                        <string>I</string>
                        <string>Insert</string>
                        <string>J</string>
                        <string>K</string>
                        <string>L</string>
                        <string>Left</string>
                        <string>M</string>
                        <string>N</string>
                        <string>NumLock</string>
                        <string>O</string>
                        <string>;</string>
                        <string>/</string>
                        <string>[</string>
                        <string>]</string>
                        <string>\</string>
                        <string>,</string>
                        <string>=</string>
                        <string>-</string>
                        <string>.</string>
                        <string>`</string>
                        <string>P</string>
                        <string>PageDown</string>
                        <string>PageUp</string>
                        <string>Pause</string>
                        <string>Print</string>
                        <string>Q</string>
                        <string>R</string>
                        <string>Right</string>
                        <string>S</string>
                        <string>Scroll</string>
                        <string>T</string>
                        <string>U</string>
                        <string>Up</string>
                        <string>V</string>
                        <string>W</string>
                        <string>X</string>
                        <string>Y</string>
                        <string>Z</string>
                        <string>'</string>
                        <string>Tab</string>
                        <string>Space</string>
                        <string>Backspace</string>
                        <string>Escape</string>
                        <string>Enter</string>
                        <string>Return</string>
                    </ArrayOfString>
                </value>
            </setting>
        </DesktopLauncher.Properties.Settings>
    </applicationSettings>
</configuration>